* {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeSpeed;
}

#main {
	display:grid;
	grid-auto-columns:1fr 3fr 3fr;
	grid-gap:10px;
	height:95vh;
	width:95vw;
	align-items:stretch;
}
#sidebar {
	grid-column:1;
	min-height: 95vh;
}
#leftWhole {
	grid-column:2;
	min-height: 95vh;
	display:grid;
	grid-auto-rows:5px 25px 1fr;
	border: 1px solid silver;
}
#rightWhole {
	grid-column:3;
	min-height: 90vh;
	display:grid;
	grid-auto-rows:5px 25px 1fr;
	border: 1px solid silver;
}
#left{
	grid-row:3;
	min-height: 90vh;
}
#right{
	grid-row:3;
	min-height: 90vh;
}
#leftTitle{
	grid-row:2;
	text-align:center;
	border-bottom:1px solid silver;
}
#rightTitle{
	grid-row:2;
	text-align:center;
	border-bottom:1px solid silver;
}

.tree-leaf { position: relative; }
.tree-leaf .tree-child-leaves { display: block; margin-left: 15px; }
.tree-leaf .hidden { display: none; }
.tree-leaf .tree-expando { background: #ddd; border-radius: 3px; cursor: pointer; float: left; height: 10px; line-height: 10px; position: relative; text-align: center; top: 5px; width: 10px; }
.tree-leaf .hidden { visibility: hidden; }
.tree-leaf .tree-expando:hover { background: #aaa; }
.tree-leaf .tree-leaf-text { cursor: pointer; float: left; margin-left: 5px; }
.tree-leaf .tree-leaf-text:hover { color: blue; }
.tree-leaf .tree-leaf-content:before, .tree-leaf .tree-leaf-content:after { content: " "; display: table; }
.tree-leaf .tree-leaf-content:after { clear: both; }
