#main {
	display:grid;
	grid-auto-columns:1fr 1fr;
	grid-gap:10px;
	height:100vh;
	width:100vw;
	align-items:stretch;
}
#left {
	grid-column:1;
	min-height: 100vh;
}
#right {
	grid-column:2;
	min-height: 100vh;
}